<p>weather works!</p>
<form [formGroup]="weatherForm">
    <label class="label" for="city">City: </label>  <input type="text" id="city" formControlName="city">
    <label class="label" for="state">State: </label> <input type="text" id="state" formControlName="state">
</form>
<button (click)="GetWeather()" [disabled]="!weatherForm.valid">Check Weather</button>
<div *ngIf="isLoading">Loading!!!!!!!!!!!</div>
<div *ngIf="displayWeather">
    <div  *ngIf="weather?.forecastDays">
        <div class="list" *ngFor="let forcast of weather?.forecastDays">
            <span class="column">{{forcast.displayDate.month}}-{{forcast.displayDate.day}}-{{forcast.displayDate.year}} </span>
            <span class="column"><img src="{{forcast.maxTemperature.degrees | weatherImage}}" /></span>
            <span class="column">min temp : {{forcast.minTemperature.degrees}}  </span>
            <span class="column">max temp: {{forcast.maxTemperature.degrees}}</span>
        </div>
    </div>
</div>
<div *ngIf="isError">{{errorMessage}}</div>